{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h3 class="block-heading">Welcome to my photography blog, where you can see tips & tricks, as well as recent and past photo sessions, and personal projects. I hope you enjoy it as much as I enjoy a gorgeous sunset!</h3>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="text-center">Login</h2>
      {% if message %}
        <div class="alert alert-success">
          {{ message }}
        </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        {% if form.errors %}
          <div class="alert alert-danger">
            <strong>Error:</strong> {{ form.errors }}
          </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
{% endblock %}