{% extends 'base.html' %}

{% load static %}

{% block content %}

<section>
    <div class="d-flex justify-content-center mb-4">
        <img src="{% static 'image/400.png' %}" alt="cartoon" class="img-fluid mx-auto">
    </div>
    <div class="text-center">
        <h1 class="h1400">AWWW...DON'T CRY</h1>
        <h1 class="h1400">400 Bad Request</h1>
        <p class="p400">Uh oh... Your browser sent something I don't Understand.</p>
        <div class="wrapper">
            <p><a class="btn btn-primary" href="{% url 'login' %}">Return to Home Page</a></p>
        </div>
    </div>
</section>
{% endblock %}