<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>404 Error - Page Not Found</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <div class="d-flex justify-content-center mb-4">
        <img src="{% static 'image/404.png' %}" alt="cartoon" class="img-fluid mx-auto">
    </div>
    <div class="text-center">
        <h1 class="h1404">AWWWW...DON'T CRY.</h1>
        <p class="p404">It's just a 404 Error!</p>
        <div class="wrapper">
            <p><a class="btn btn-primary" href="{% url 'login' %}">Return to Home Page</a></p>
        </div>
    </div>
</body>
</html>