{% extends 'base.html' %}

{% load static %}

{% block content %}

<section>
    <div class="d-flex justify-content-center mb-4">
        <img src="{% static 'image/500.png' %}" alt="cartoon" class="img-fluid mx-auto">
    </div>
    <div class="text-center">
        <h1 class="h1500">AWWWW...DON'T CRY.</h1>
        <p class="p500">Sorry...It's not you. It's us.</p>
        <div class="wrapper">
            <p><a class="btn btn-primary" href="{% url 'login' %}">Return to Home Page</a></p>
        </div>
    </div>
</section>
{% endblock %}