{% extends 'base.html' %}

{% block content %}
<div class="about-page container">
  <h1>About Us</h1>
  <p>Welcome to Photography Blog, a haven for photography enthusiasts of all levels!</p>
  <p>Our mission is to inspire and educate through high-quality tutorials, in-depth gear reviews, and stunning photo galleries.</p>
  <p>Whether you're a budding photographer or a seasoned pro, join us on a journey to explore the art and craft of photography, discover new techniques, and stay updated with the latest industry trends.</p>
  <p>Let's capture the world, one frame at a time!</p>
</div>
{% endblock %}