{% extends 'base.html' %}

{% block content %}
  <h1>Add Post</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
          <div class="alert alert-danger">
            {{ field.errors|join:", " }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Add Post</button>
  </form>
{% endblock %}