{% extends "base.html" %}

{% block content %}
<div id="blog-box">
    {% for post in post_list %}
        <div class="blog-thumbnail">
        {% if post.status == True %}
            <div>
                <a href="{% url 'photo_detail' post.id %}">
                    <span class="title">{{ post.title }}</span> <span class="author">From: {{ post.created_by }}</span>
                    <div class="image"><img src="{{ post.image.url }}" alt="post_image"></div>
                </a>
                <div class="captionPreview">{{ post.caption }}</div>
                <div><i class="fa-solid fa-heart likes"></i><span class="likes"> {{ post.likes_count }}</span></div>
                <span class="location">{{ post.location }}</span> - <span class="date">{{ post.date_created }}</span>
            </div>
        {% endif %}
        </div>
    {% endfor %}
</div>


{% if user.is_authenticated %}
    <div class="add-post">
        <a href="{% url 'add_post' %}" class="btn btn-danger add-post" aria-label="Add Post">Add Post</a>
    </div>
    {% else %}
        <div>
            <h6 class="add-post">Please <a class="link2" href="{% url 'account_login' %}" aria-label="Log in to add a post">log in</a>, or 
            <a class="link2" href="{% url 'account_signup' %}" aria-label="Sign up to add a post">create an account</a> to create a post.</h6>
        </div>
{% endif %}


{% endblock %}