{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Blog</h1>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'blog' %}">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category' 'landscape' %}">Landscape</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category' 'portrait' %}">Portrait</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category' 'wildlife' %}">Wildlife</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category' 'treet' %}">Street</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category' 'acro' %}">Macro</a>
        </li>
      </ul>
    </div>
  </div>

  {% if user.is_authenticated %}
  <div>
    <h6 class="add-post">Please <a class="link2" href="{% url 'login' %}" aria-label="Log in to add a post">log in</a>, or
      <a class="link2" href="{% url 'signup' %}" aria-label="Sign up to add a post">create an account</a> to create a
      post.
    </h6>
  </div>
  
  
  <div class="add-post">
    <a href="{% url 'add_post' %}" class="btn btn-danger add-post" aria-label="Add Post">Add Post</a>
  </div>
  {% else %}
  
  {% endif %}

  <div class="row">
    {% for post in post_list %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="{{ post.image.url }}" alt="post_image" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.caption }}</p>
          <p class="card-text"><small class="text-muted">{{ post.date_created }}</small></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="col-12 mt-3 left">
    <div class="row">
      {% for post in post_list %}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <div class="image-container">
              {% if "placeholder" in post.featured_image.url %}
              <img class="card-img-top"
                src="https://res.cloudinary.com/ds0ualpzt/image/upload/v1718806979/media/images/ocean_uxltyf.jpg">
              {% else %}
              <img class="card-img-top" src=" {{ blog.featured_image.url }}">
              {% endif %}
              <div class="image-flash">
                <p class="author">Author: {{ post.author }}</p>
              </div>
            </div>
            <a href="{% url 'post_detail' post.id %}" class="post-link">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text">{{ post.excerpt }}</p>
            </a>
            <hr />
            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
              {{ post.number_of_likes }}</p>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3%}
    </div>
    <div class="row">
      {% endif %}
      {% endfor %}

    </div>
  </div>

  {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>
{% endblock %}
