{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for post in post_list %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ post.image.url }}" alt="post_image" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.caption }}</p>
              <p class="card-text"><small class="text-muted">{{ post.date_created }}</small></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if user.is_authenticated %}
    <div class="add-post">
      <a href="{% url 'add_post' %}" class="btn btn-danger add-post" aria-label="Add Post">Add Post</a>
    </div>
  {% else %}
    <div>
      <h6 class="add-post">Please <a class="link2" href="{% url 'login' %}" aria-label="Log in to add a post">log in</a>, or 
      <a class="link2" href="{% url 'signup' %}" aria-label="Sign up to add a post">create an account</a> to create a post.</h6>
    </div>
  {% endif %}
{% endblock %}