{% extends "base.html" %}

{% block content %}

<section class="container-fluid text-center">
    <div class="row">
        <div class="col-12">
            <h2>{{ category.name }}</h2>
        </div>
    </div>
    <div class="row">
        {% for photo in category.photos.all %}
        <div class="col-auto">
            <div class="card">
                {% load cloudinary %}
                <img src="{% cloudinary photo.image 'width=300' %}" class="card-img-top" alt="{{ photo.description }}"/>
                <div class="card-body">
                    <h3 class="card-title">{{ photo.title }}</h3>
                    <p class="card-text">{{ photo.content }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}