{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <form class="mx-auto">
    <div class="form-group">
        <h1 class="contact-us">Contact Us</h1>
        <form method="post">
            {% csrf_token %}
      <label for="name">Name:</label>
      <input type="text" class="name" id="name" aria-describedby="emailHelp" placeholder="Enter Name">
    </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email">
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea id="message" name="message" rows="5" cols="50" placeholder="  Write a Message" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send Message</button>
  </form>
  </div>
{% endblock %}