{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="mx-auto">
        <h1 class="contact-us text-center">Contact Us</h1>
        <div class="contact-us text-center mb-4">
            <p class="questions">Have questions or want to get in touch?<br>Feel free to contact us.<br>We’d love to hear from you!</p>
        </div>
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Name:</label>
                <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}" placeholder="Enter Name" value="{{ form.name.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email address</label>
                <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" placeholder="Enter Your Email" value="{{ form.email.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="{{ form.message.id_for_label }}">Message</label>
                <textarea id="{{ form.message.id_for_label }}" name="{{ form.message.name }}" class="form-control" rows="5" placeholder="Write a Message">{{ form.message.value|default_if_none:'' }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Send Message</button>
        </form>
    </div>
</div>
{% endblock %}