<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @page {
            size: landscape;
        }
        
        /* Set the body to take up the full page */
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
        }
    </style>
</head>
<body>
    <!-- Content will be rendered here -->
    {% block content %}{% endblock %}
</body>
</html>