{% extends 'base.html' %}

{% block title %}Photo List{% endblock %}

{% block content %}
    <h1>Photo List</h1>
    <ul>
        {% for photo in photos %}
            <li>
                {{ photo.title }} ({{ photo.image }})
                <a href="{% url 'photo_detail' photo.pk %}">View</a>
                <a href="{% url 'update_photo' photo.pk %}">Edit</a>
                <a href="{% url 'delete_photo' photo.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}