{% extends 'base.html' %}

{% block title %}Photo List{% endblock %}

{% block content %}
<h1>Photo List</h1>
<ul>
    {% for photo in photos %}
    <li>
        {{ photo.title }} ({{ photo.image.url }})
        <a href="{% url 'photo_detail' photo.pk %}">View</a>
        <a href="{% url 'edit_photo' photo.pk %}">Edit</a>
        <a href="{% url 'delete_photo' photo.pk %}" onclick="return confirm('Are you sure you want to delete this photo?');">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}