{% extends 'base.html' %}

{% load static %}
{% load cloudinary%}

{% block title %}Sign Up{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="container-login">
    <div class="row justify-content-center">
            <h2>Sign Up</h2>
            <div class="email-signup" id="email-signup">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input type="text" id="first_name" name="first_name" class="form-control" required>
                        {{ form.first_name.errors }}
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input type="text" id="last_name" name="last_name" class="form-control" required>
                        {{ form.last_name.errors }}
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                        {{ form.email.errors }}
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                        {{ form.password.errors }}
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                        {{ form.confirm_password.errors }}
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                    </ul>
                    {% endif %}
                </form>
            </div>
            <div class="social-signup" id="social-signup">
                <h3>Sign Up with Social Media:</h3>
                <button class="btn btn-facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    Facebook
                </button>
                <button class="btn btn-gmail">
                    <i class="fa fa-google" aria-hidden="true"></i>
                    Gmail
                </button>
                <button class="btn btn-linkedin">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    LinkedIn
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
