<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Street Image</title>
</head>

<body>
    <h1>Upload Street Image</h1>
    <ul>
        {% for image in images %}
        <li>
            <img src="{{ image.image.url }}" alt="Street Image">
        </li>
        {% endfor %}
    </ul>
    <form method="post" enctype="multipart/form-data" action="{% url 'upload_street_image' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</body>

</html>