{% extends 'base.html' %}

{% block title %}Wildlife Photos{% endblock %}

{% block content %}
    <h1>Wildlife Photos</h1>
    <div class="photo-grid">
        
        <div>
            <img src="{% cloudinary 'wildlife_photo1.jpg' %}" alt="Wildlife Photo 1">
            <p>Wildlife Photo 1</p>
        </div>
        <div>
            <img src="{% cloudinary 'wildlife_photo2.jpg' %}" alt="Wildlife Photo 2">
            <p>Wildlife Photo 2</p>
        </div>
        <!-- Add more photos here -->
    </div>
{% endblock %}